body {
	background: rgba(0,0,0,0.9);
	margin: 0;
	color: #fff;
	font-family: century gothic;
}
/* using after is like putting a new div after header class showcase which has background, 
without making changes to DOM.*/
.showcase::after {
content:'';
/*entire browser height*/
height:100vh;
width:100%;
background-image: url(https://image.ibb.co/gzOBup/showcase.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display:block;
filter: blur(10px);
/* needed for some browsers where only filter doesn't work*/
-webkit-filter: blur(10px);
transition: all 1000ms;
}

.showcase:hover::after {	
filter: blur(0px);
-webkit-filter: blur(0px);
}

.showcase:hover .content {
	filter:blur(2px);
	-webkit-filter: blur(2px);
}
.content{
position: absolute;
/* great z-index gets positioned on top*/
z-index: 1;
/* positioning */
top:10%;
left:50%;
margin-top: 150px;
margin-left: -145px;
width:300px;
height:350px;
text-align: center;
transition: all 1000ms;
}

.content .logo {
height:180px;
}

.content .title {
font-size: 2.2rem;
}

.content .text {
font-size:0.95rem;
}

.container {
	max-width: 960px;
/* this means that if the max width is exceeded, then the content will be hidden*/
	overflow: hidden;
	margin: auto;
	padding: 4rem 1rem;
}

.grid3 {
	display:grid;
	/* 3 fractions of total width to give 3 equal columns*/
	grid-template-columns: 1fr 1fr 1fr;
	/* may also be written as grid-template-columns: repeat(3, 1fr); but apparently it doesn't work with me*/
	grid-gap: 20px;
}

.grid-2 {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
}

.center {
	text-align: center;
	vertical-align: center;
}

.bg-light {
	background: #f4f4f4;
	color: #333;
}

.bg-dark{
	color: #f4f4f4;
}

.adjust {
	margin-top:-20px;
	font-size:15px;
	text-align: justify;
}

footer p {
	margin:0;
	font-size: 12px;
	padding: 0.5rem;
	letter-spacing: 1px;
}

/* time for media queries */
/* mobile screens */

@media (max-width: 560px) {

	.showcase::after {
		height:50vh;
	}

	.content {
		top:5%;
		margin-top: 50px;
	}

	.content .logo {
		height:130px;
	}

	.content .title {
		font-size:1.5rem;
	}

	.content .text {
		display:none;
	}

	.grid3, .grid-2 {
		grid-template-columns: 1fr; /* this makes them stacked */
	}

	.adjust {
		font-size:12px;
		padding:2rem;
	}

	.services div {
		border-bottom: solid #333 1px;
		padding:2rem;
	}
}

/* for landscape mode */
@media (max-height:500px) {

.content .title, .content .text {
	display:none;
}
.content .logo {
	height:140px;
}
.content {
	top:0%;
}
}