body {
	background: #1f1d1d;
	margin:0;
	color:#fff;
	font-family: century gothic;
}

nav {
	width:69px;
	background:#131313;
	height:100%;
	font-size:1.6rem;
}

.image-width {
	width:69px;
}

.current {
	/* this specifies the color for the navbar icon currently in use, ie home will be pink on home screen*/
	color:#f02069;
}

.main-grid {
	display: grid;
	grid-template-columns: 69fr 1297fr;
	grid-template-rows:1fr;
	height :100vh;
	width:100%;
}
.grid5 {
	margin-top:35px;
	margin-left:0px;
	text-align:center;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns:1fr;
	grid-gap:25px;
	transition: all 1000ms;
}

.grid2 {
	display:grid;
	grid-template-columns: 1fr 1fr;
	height:100vh;
	grid-template-rows:1fr;
}

a.current {
	color:#f02069;
}

nav a:hover {
	color:#f02069;
}

a {
	color:#fff;
}

.intro {
	margin:100px 0px 0px 82px;
	font-size: 120px;
	font-weight: bold;
	line-height:120px;
}

.pinkcolor {
	color:#f02069;
}

.bluecolor {
	color:#9acce4;
}

.tagline {
	margin-left:88px;
	font-size: 22px;
	font-weight: bold;
}

.aboutme {
	font-size:18px;
	margin:100px 0px 0px 223px;
}

a.arrowfront {
	color:#f02069;
}

.confetti {
	margin-left:50px;
	margin-top:53px;
}

.thickline {
	font-size:24px;
	font-weight: bold;
	margin-left:60px;
}

.idothis {
	font-size:42px;
	margin-left:270px;
	margin-top: -40px;
	font-weight: bold;

}

.whatidocontain {
	margin-top:10px;
	margin-left:60px;
	margin-right:85px;
	word-spacing:20px;
}

a.whatidoicons {
	font-size:60px;
	text-align:right;
	color:#fff;
	text-decoration:none;
}

a.blue {
	color:#9acce4;
}

a.line2 {
	font-size:48px;
}

.fontsize48 {
	font-size:48px;
	font-weight:bold;
	line-height:40px;
}

.social{
	margin-right:140px;
	text-align:right;
	margin-top:85px;
	word-spacing:10px;
}
a.socialicon {
	font-size:35px;
	color:#fff;
}

@media (max-width:600px) {

.main-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows:1fr 10fr;
	height :100vh;
	width:100%;
}

nav {
	width:100%;
	background:#131313;
	height:69px;
	font-size:1.6rem;
}

.grid5 {
	margin-top:-60px;
	margin-left:69px;
	text-align:center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr;
	grid-gap:0px;
	transition: all 1000ms;
}

.grid2 {
	display:grid;
	grid-template-rows: 5fr 4fr;
	height:100vh;
	grid-template-columns:1fr;
}

.confetti {
	display:none;
}

.aboutme {
	margin:30px 0 0 80px;
}
.intro {
	margin:50px 0 0 30px;
	line-height:100px;
}

.tagline {
	margin:10px 0 0 30px;
}

.thickline {
	margin-left:30px;
	margin-top:60px;
	font-size:20px;
}

.idothis {
	font-size:35px;
	margin-left:200px;
	margin-top: -35px;
	font-weight: bold;

}

a.whatidoicons {
	font-size:35px;
}

.whatidocontain {
	margin-left:30px;
	margin-right:30px;
	text-align:center;
}

.social{
	margin-right:10px;
	text-align:center;
	margin-top:40px;
	word-spacing:10px;
}

a.socialicon {
	font-size:20px;
	color:#fff;
}
}
